/* Reduzindo o tamanho da fonte do título do primeiro slide */
.reveal section.present h1 {
    font-size: 2em; /* ajuste o tamanho da fonte conforme necessário */
    font-family: Arial, sans-serif; /* Adicionado para definir a família da fonte */
}

/* Diminuir o tamanho da fonte do slide específico */
#categorias-do-petro-rentismo-em-graficos {
    font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Diminuir o tamanho da fonte do slide específico */
#quantos-municípios-recebem {
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Diminuir o tamanho da fonte do slide específico */
#evolução-longitudinal-da-petrodependência {
    font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Alinhamento do texto */
.reveal section.present {
    text-align: justify;
    line-height: 1.6; /* Ajuste o valor conforme necessário */
}

/* CSS para centralizar gráficos */
.reveal section .reveal .state-background {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS para centralizar tabelas */
.reveal section .reveal table {
    margin-left: auto;
    margin-right: auto;
}